button {
  max-width: 100px;
}

.header {
  font-size: 2rem;
  font-family: 'Rubik', sans-serif;
}


.table tr, .table td {
  border: 1px solid black;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: lightgray;
}

.average{
  text-align: right;
}

@media screen and (max-width: 650px){
  .grade-form, .form-button{
    font-size: 1.5rem;
  }

  .form-icon {
    display: none;
  }
}
